<footer class="lp-footer">
        <div class="d-flex">
            <div class="me-auto">
                <span class="copyright-text">@DateTime.Now.Year © LookOn</span>
            </div>
        </div>
</footer>
