<log4net>
    <!-- <root> -->
    <!--     <level value="ALL"/> -->
    <!--     <appender-ref ref="RollingFileAppender"/> -->
    <!-- </root> -->
    <root>
        <level value="ALL" />
        <appender-ref ref="RollingFileAppender" />
        <appender-ref ref="InfoAppender" />
        <!-- <appender-ref ref="debugAppender" /> -->
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <filter type="log4net.Filter.LevelMatchFilter">
            <levelToMatch value="ERROR" />
        </filter>
        <filter type="log4net.Filter.DenyAllFilter" />
        <file type="log4net.Util.PatternString" value="logs\%property{fname}_Error.log"/>
        <!-- <file value="logs\"/> -->
        <!-- <datePattern value="yyyy-MM-dd'-FULL.log'" /> -->
        <appendToFile value="true"/>
        <preserveLogFileNameExtension value="true"/>
        <rollingStyle value="Composite"/>
        <maximumFileSize value="100MB"/>
        <maxSizeRollBackups value="2"/>
        <staticLogFileName value="false"/>
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
        </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
        <filter type="log4net.Filter.LevelMatchFilter">
            <levelToMatch value="INFO" />
        </filter>
        <filter type="log4net.Filter.DenyAllFilter" />
        <!-- <file value="logs\"/> -->
        <file type="log4net.Util.PatternString" value="logs\%property{fname}.log"/>
        <!-- <datePattern value="yyyy-MM-dd'-FULL.log'" /> -->
        <appendToFile value="true"/>
        <preserveLogFileNameExtension value="true"/>
        <rollingStyle value="Composite"/>
        <maximumFileSize value="100MB"/>
        <maxSizeRollBackups value="1000"/>
        <staticLogFileName value="false"/>
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
        </layout>
    </appender>
</log4net>

<!-- <log4net> -->
<!--     <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender"> -->
<!--         <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"> -->
<!--             <file value="logs/"> -->
<!--                 <datepattern value="yyyy-MM-dd hh.'txt'"> -->
<!--                     <staticlogfilename value="false"> -->
<!--                         <appendtofile value="true"> -->
<!--                             <rollingstyle value="Composite"> -->
<!--                                 <maxsizerollbackups value="2"> -->
<!--                                     <maximumfilesize value="100MB"> -->
<!--                                         <layout type="log4net.Layout.PatternLayout"> -->
<!--                                             <conversionpattern value="%level  %message  %date"> -->
<!--                                             </conversionpattern></layout> -->
<!--                                     </maximumfilesize> -->
<!--                                 </maxsizerollbackups> -->
<!--                             </rollingstyle> -->
<!--                         </appendtofile> -->
<!--                     </staticlogfilename> -->
<!--                 </datepattern> -->
<!--             </file> -->
<!--         </lockingmodel> -->
<!--     </appender> -->
<!--     <root> -->
<!--         <level value="ALL"> -->
<!--             <appender-ref ref="RollingLogFileAppender"> -->
<!--             </appender-ref> -->
<!--         </level> -->
<!--     </root> -->
<!-- </log4net>   -->