@using LookOn.Core.Extensions
@using LookOn.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@inject IHtmlLocalizer<LookOnResource> L
@model LookOn.Web.Pages.Shared.DashboardNoDataModel

<abp-card>
    <abp-card-header >
        <abp-row class="p-4">
            <abp-column size-xl="_3" size-md="_12">
                <img src="~/images/subscription-img.png" width="auto" height="auto" alt=""/>
            </abp-column>
            <abp-column size-xl="_9" size-md="_12">
                <h1>
                    @L[$"{Model.PageName}.Enum:MerchantSyncStatus:{Model.SyncStatus.ToInt()}:EmailTitle"]
                </h1>
                <div class="mt-3">
                    @L[$"{Model.PageName}.Enum:MerchantSyncStatus:{Model.SyncStatus.ToInt()}:NoDataDescription"]
                </div>
            </abp-column>
        </abp-row>
    </abp-card-header>
</abp-card>