@using LookOn.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model LookOn.Web.Pages.Shared.NotificationUpdatingModel
@inject IHtmlLocalizer<LookOnResource> L

@if (!Model.IsNotificationAccepted)
{
    <abp-card class="notification-card">
        <abp-card-body>
            <div style="display: flex;align-items: center;justify-content: center">
                <div style="flex-basis: 20%;">
                    <img src="~/images/subscription-img.png" width="auto" height="150px" alt=""/>
                </div>
                <div style="padding-left: 20px;">
                    <h1 class="text-left">@L["NotificationUpdating.Header"]</h1>
                    <div>@L["NotificationUpdating.Content"]</div>
                </div>
                <div style="padding-left: 5%; white-space: nowrap;">
                    <abp-button id="UpdateNotification" class="btn btn-dark btn-border-radius-20 btn-hover-color-black" size="Large">@L["NotificationUpdating.Understand"]</abp-button>
                </div>
            </div>
        </abp-card-body>
    </abp-card>
}
