<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiGetUncrawlPost" value="" />
    <add key="ApiGet2FACode" value="" />
    <add key="NumberTabsDisplay" value="10" />
    <add key="RootUrl" value="https://m.facebook.com" />
    <add key="ApiGetSchedulePost" value="https://localhost:44344/api/app/schedule-posts/gets-unpost" />
    <add key="ApiGetAccountProxy" value="https://localhost:44344/api/app/account-proxies-extend/get-for-tool" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.34.0" newVersion="1.11.34.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>