<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiGet2FACode" value="http://2fa.live/tok/" />
    <add key="RootUrl" value="https://m.facebook.com" />
    <add key="ApiGetSchedulePost" value="https://localhost:44344/api/app/schedule-posts/gets-unpost" />
    <add key="ApiGetAccountProxy" value="https://localhost:44344/api/app/account-proxies-extend/get-for-tool" />
    <add key="TempFilesPath" value="D:\\test\\images" />
  </appSettings>
</configuration>