/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4taVIGxA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4kaVIGxA.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4saVIGxA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4jaVIGxA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* hebrew */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4iaVIGxA.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4vaVIGxA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4uaVIGxA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Change font*/
body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    color: #282B35;
    background: #F5F7F9 !important;
}

header {
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.subscript-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.subscript-content {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

html body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
}

.card {
    color: #282B35;
}

.card-body {
    color: #282B35;
}

:root {
    --bs-body-font-family: 'Open Sans', sans-serif !important;
    --bs-body-color: #282B35;
}

.mr-10px {
    margin-right: 10px;
}

.btn-custom-color :hover {
    color: white;
}

.text-bold {
    font-weight: bold !important;
}

.max-height {
    height: 100% !important;
}

.content-term {
    width: 100%;
    height: 65vh;
}

.content-subscription-notify {
    overflow: auto;
    width: 100%;
}

.iframe-terms-of-user {
    width: 100%;
    height: 65vh;
}

.agree-term-margin {
    margin-left: 0px !important;
}

.btn-green {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.link-no-under-line {
    text-decoration: none;
}

.community-page-connect {
    background: transparent !important;
    border: dashed 2px #333;
    border-radius: 10px;
    margin-bottom: 24px;
    height: 100%;
}

.card-transparent {
    height: 100% !important;
    border: 0;
    background: transparent;
    color: #000000;
    box-shadow: none !important;
    border-radius: 6px;
    margin-bottom: 24px;
}

.mg-left-10 {
    margin-left: 2%;
}

.font-weight-unset {
    font-weight: unset !important;
}


.divider {
    display: block;
    clear: both;
    background: #CCCCCC;
}

.border-right {
    border-right: #CCCCCC solid 1px;
}

@media screen and (min-width: 768px){
    .padding-left-50 {
        padding-left: 50px;
    }
}

/*Custom layout*/
.abp-empty-layout {
    padding-top: 0 !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.login-page, .intro-page {
    margin-top: 12%;
}

.login-page .icon-circle,
.intro-page .icon-circle {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 5px;
    border-radius: 10px;
}

.login-page .btn,
.intro-page .btn {
    padding: 8px !important;
}

.LookOn-btn-primary,
.LookOn-btn-primary {
    border-color: #3834EF;
    background: #3834EF;
    color: white;
}

.LookOn-btn-success {
    border-color: #91CC47;
    background: #91CC47;
}

.LookOn-btn-success:hover {
    background: #88ae47;
    color: white;
}

.login-page .icon-circle-danger,
.intro-page .icon-circle-danger {
    background: linear-gradient(180deg, #4779FA 0%, #3834EF 80%);
}

.intro-page-right {
    padding-top: 5%;
}

.login-page-right {
    padding-top: 10%;
}

.row-no-padding {
    padding: 0 !important;
}

/* Your Global Styles */
.text-right {
    text-align: right !important;
}

.progress-bar-reverse {
    transform: rotate(180deg) !important;
}

.text-green {
    color: #91CC47 !important;
}

.text-blue {
    color: #4779FA !important;
}

.metric-percent {
    float: left;
    margin-top: 5%;
}

.progress {
    background: #F3F5F8;
}

.progress-bar-custom {
    background: linear-gradient(180deg, #4779FA 0%, #3834EF 100%);
}

.abp-btn-custom {
    background-color: transparent;
    border: 2px solid transparent;
}

.modal .modal-content {
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 5%);
    border: 0;
}

.feedback-rating-btn {
    min-width: 90px;
}

.feedback-rating-btn:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12);
}

.form-check-input:checked {
    background-color: #7aabff;
    border-color: rgba(8, 20, 73, 0.1);
}

.form-check-inline {
    margin-bottom: 10px !important;
    display: block !important;
}

.table-top-products {

}

.table-top-products > thead > tr > th {
    border-bottom: none !important;
}

.display-bl {
    display: block !important;
}

.display-flex {
    display: flex !important;
}

.display-inline-bl {
    display: inline-block !important;
}

.text-open-sans {
    font-family: Open Sans;
}

.font-size-16 {
    font-size: 20px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-30 {
    font-size: 30px;
    margin-bottom: 2%;
}

.font-size-28 {
    font-size: 28px !important;
}

.font-size-40 {
    font-size: 40px !important;
}

.bg-active {
    background: #E5F3D3 !important;
    color: #0c0c10;
}

.bg-inactive {
    background: #bb2d3b !important;
    color: whitesmoke;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.form-check-input {
    background-color: white;
}

.crow-black-blue-color {
    color: #3689d6 !important;
}

.radio-size-1-3 {
    width: 1.3em;
    height: 1.3em;
}

.padding-right-13 {
    padding-right: 13px !important;
}

.padding-right-13 {
    padding-right: 13px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.ecom-summary-card-header {
    display: inherit;
    padding-left: 0 !important;
}

.card-border-top-color-green {
    border-top: 5px solid #7bad3c !important;
}

.card-border-top-color-danger {
    border-top: 5px solid #bc3c4d !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.question-tooltip-margin {
    margin-right: -25px;
    margin-top: -15px;
    box-shadow: none !important;
    float: right !important;
    display: inline-block !important;
}

.info-tooltip-margin {
    margin-right: -35px;
    margin-top: -7px;
}

.btn-border-radius-20 {
    border-radius: 20px !important;
}

.notification-card {
    border: 3px solid #f3d7ae !important;
    border-radius: 20px !important;
}

.box-chart-center {
    align-items: center;
    height: 100%;
    vertical-align: middle;
    border-radius: 20px !important;
    border: solid 1px #CCCCCC;
}

.table-box-center {
    align-items: center;
    vertical-align: middle;
    height: 100%;
}

.revenue-summary-column {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.center-component-chart {
    text-align: center;
}

@media screen and (min-width: 1400px) {
    .border-left-insight-type {
        border-color: #9BABC7;
        border-left: 1px solid #e0eafb;
        border-radius: 2px;
    }

    .margin-left-border-blue-bell {
        margin-left: 10%;
    }
}

@media (max-width: 1399px) and (min-width: 998px) {
    .border-left-insight-type {
        border-color: #9BABC7;
        border-left: 1px solid #e0eafb;
        border-radius: 2px;
    }

    .margin-left-border-blue-bell {
        margin-left: 1%;
    }
}

.sticky-bottom {
    position: sticky;
    bottom: 10px;
}

.table-top-border-none > tbody > tr > td {
    border-top: none !important;
}

.table-top-border-none > tbody > tr > th {
    border-top: none !important;
}

.table-layout-fixed {
    table-layout: fixed;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.text-align-right {
    text-align: right;
    width: 60px;
}

.progress {
    height: 0.7rem !important;
    margin-top: 5px !important;
}

@media (min-width: 768px) {
    .col-md-20 {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (min-width: 768px) {
    .col-md-16 {
        flex: 0 0 auto;
        width: 16%;
    }
}

.collapsing#collapse-page3-setting {
    height: 46px;
!important;
}

.collapse:not(.show)#collapse-page3-setting {
    display: revert !important;
    opacity: 50%;
    height: 45px;
}

.collapse:not(.show) #filter-disable {
    z-index: 1;
    width: 100%;
    height: 60px;
    position: absolute;
    display: revert;
}

.collapse:not(.show) #collapse-page3-button {
    display: none;
}

.dx-field-value#provinceToggleValue {
    float: left;
}

.dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button)#provinceToggleValue {
    width: auto;
}

.dx-switch-container {
    border-radius: 20px;
}

.dx-switch-handle::before {
    border-radius: 20px;
}

/*.dx-switch.dx-state-hover .dx-switch-handle::before{*/
/*    background-color: #0c4128; !important;*/
/*}*/

/*.dx-switch-on-value .dx-switch-handle::before {*/
/*    background-color: #337ab7;*/
/*}*/
.label-dx-switch {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 15px;
    padding-left: 5px;
}

.footer-province-modal {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

.display-webkit-inline {
    display: -webkit-inline-box;
}

.LookOn-progress-bar-color-0 {
    background: linear-gradient(270deg, #4779FA 0%, #3834EF 100%);
    color: white;
    border-radius: 20px;
}

.LookOn-color-0 {
    background-color: #3689d6;
    color: white;
}

.LookOn-color-1 {
    background-color: #70d6ff;
}

.LookOn-color-2 {
    background-color: #ff70a6;
}

.LookOn-color-3 {
    background-color: #ff9770;
}

.LookOn-color-4 {
    background-color: #ffd670;
}

.LookOn-color-5 {
    background-color: #a5d7d0;
}

.LookOn-color-6 {
    background-color: #e9ff70;
}

.LookOn-color-7 {
    background-color: #da5859;
}

.LookOn-color-8 {
    background-color: #f09777;
}

.LookOn-color-9 {
    background-color: #fbc987;
}

.LookOn-color-11 {
    background: #91CC47;
}

.LookOn-color-12 {
    background-color: #9BABC7;
}

.LookOn-color-13 {
    background-color: #113059;
}

.LookOn-color-14 {
    background-color: #bac5d7;
}

.LookOn-color-15 {
    background-color: #ecf3ff;
}

.btn-hover-color-0:hover {
    background-color: #abd3f4;
    color: black;
}

.btn-hover-color-1:hover {
    background-color: #4288a5;
}

.btn-hover-color-2:hover {
    background-color: #a14568;
}

.btn-hover-color-3:hover {
    background-color: #995941;
}

.btn-hover-color-4:hover {
    background-color: #9b8142;
}

.btn-hover-color-14:hover {
    background-color: #636972;
    color: white;
}

.btn-hover-color-15:hover {
    background-color: #b5bbc5;
    color: white;
}

.btn-hover-color-black:hover {
    background-color: #ffffff;
    color: black;
}

.btn-hover-color-white:hover {
    background-color: black;
    color: white;
}

.btn-common-custom {
    background: #282B35;
    border-radius: 32px;
    height: 55px;
    width: 150px;
    color: white
}

.btn-common-custom:hover {
    background-color: #ffffff;
    color: black;
    border-color: black;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    border-top: none;
}

#totalRevenueScore {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid 1px #CCCCCC;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.customer-modal-center .modal.show .modal-dialog {
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100vh;
}

.abp-block-area {
    position: fixed !important;
}

/*Icon custom*/
.lo-help-icon {
    background: url("./images/icons/Group 465730.png") center no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.lo-info-circle-icon {
    background: url("./images/icons/icon-circle.png") center no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.lo-page1-icon {
    background: url("./images/icons/ic_40_graph_1.png") center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.lo-page2-icon {
    background: url("./images/icons/ic_40_graph_2.png") center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.lo-page3-icon {
    background: url("./images/icons/ic_40_graph_3.png") center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.lo-connect-icon {
    background: url("./images/icons/ic_40_list_settings.png") center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.lo-subscription-icon {
    background: url("./images/icons/ic_24_document.png") center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.lo-merchant-icon {
    background: url("./images/icons/ic_40_merchant.png") center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.lo-account-manage-icon {
    background: url("./images/icons/ic_40_account_manage.png") center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.lo-account-icon {
    background: url("./images/icons/ic_24_account.png") center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.lo-phone-icon {
    background: url("./images/icons/ic_24_phone.png") center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.lo-share-icon {
    /*background: url("./images/icons/svg/ic_24_share.svg") no-repeat center;*/
    /*background-size: 14px 14px;*/
    width: 24px;
    height: 24px;
    display: inline-block;
    fill: whitesmoke;
    background-color: whitesmoke;
    -webkit-mask-image: url("./images/icons/svg/ic_24_share.svg");
    mask-image: url("./images/icons/svg/ic_24_share.svg");
    mask-size: 24px 24px;
    mask-position: center;
    vertical-align: middle;
}

.lo-chart-icon {
    /*background: url("./images/icons/svg/ic_24_chart.svg") center no-repeat;*/
    /*background-size: 14px 14px;*/
    width: 24px;
    height: 24px;
    display: inline-block;
    fill: whitesmoke;
    background-color: whitesmoke;
    -webkit-mask-image: url("./images/icons/svg/ic_24_chart.svg");
    mask-image: url("./images/icons/svg/ic_24_chart.svg");
    mask-size: 24px 24px;
    mask-position: center;
    vertical-align: middle;
}

.lo-delete-icon {
    /*background: url("./images/icons/svg/ic_24_chart.svg") center no-repeat;*/
    /*background-size: 14px 14px;*/
    width: 24px;
    height: 24px;
    display: inline-block;
    fill: #DD465B;
    background-color: #DD465B;
    -webkit-mask-image: url("./images/icons/svg/ic_24_delete.svg");
    mask-image: url("./images/icons/svg/ic_24_delete.svg");
    mask-size: 24px 24px;
    mask-position: center;
    vertical-align: middle;
}

.lo-connect-white-icon {
    /*background: url("./images/icons/svg/ic_24_chart.svg") center no-repeat;*/
    /*background-size: 14px 14px;*/
    width: 24px;
    height: 24px;
    display: inline-block;
    fill: whitesmoke;
    background-color: whitesmoke;
    -webkit-mask-image: url("./images/icons/svg/ic_24_connect.svg");
    mask-image: url("./images/icons/svg/ic_24_connect.svg");
    mask-size: 24px 24px;
    mask-position: center;
    vertical-align: middle;
}

.lo-filter-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-mask-image: url("./images/icons/svg/ic_24_filter.svg");
    mask-image: url("./images/icons/svg/ic_24_filter.svg");
    mask-size: 24px 24px;
    mask-position: center;
    vertical-align: middle;
}

.lo-price-up-icon {
    background: url("./images/icons/ic_16_price_up.png") center no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.lo-price-down-icon {
    background: url("./images/icons/ic_16_price_down.png") center no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.lo-price-up-red-icon {
    background: url("./images/icons/ic_16_price_up_red.png") center no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.lo-price-down-green-icon {
    background: url("./images/icons/ic_16_price_down_green.png") center no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.lo-arrow-right-icon {
    background: url("./images/icons/ic_16_price_right.png") center no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mb-sm-1 {
        margin-bottom: 10px !important;
    }

    .mb-sm-2 {
        margin-bottom: 20px !important;
    }

    .mb-sm-3 {
        margin-bottom: 30px !important;
    }

    .mb-sm-4 {
        margin-bottom: 40px !important;
    }

    .mb-sm-5 {
        margin-bottom: 50px !important;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .mb-md-1 {
        margin-bottom: 10px !important;
    }

    .mb-md-2 {
        margin-bottom: 20px !important;
    }

    .mb-md-3 {
        margin-bottom: 30px !important;
    }

    .mb-md-4 {
        margin-bottom: 40px !important;
    }

    .mb-md-5 {
        margin-bottom: 50px !important;
    }

    .mt-md-5 {
        margin-top: 50px !important;
    }

    .revenue-total-container {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .vertical {
        width: 100%;
        height: 100%;
        display: inline-block;
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        min-width: 200px;
    }

    .vertical > .progress {
        height: 100%;

    }
}

.lp-opened-sidebar .lp-sidebar .lp-sidebar-navi > ul > li.current, .lp-opened-sidebar .lp-sidebar .lp-sidebar-navi > ul > li.active-page, .lp-closed .lp-sidebar .lp-sidebar-navi > ul > li.current, .lp-closed .lp-sidebar .lp-sidebar-navi > ul > li.active-page {
    box-shadow: none;
}

.btn {
    box-shadow: none;
    border-width: 1px;
}

.btn-linear-primary {
    background: linear-gradient(180deg, #4779FA 0%, #3834EF 100%);
    color: white;
    border: none;
}

.btn-linear-primary:hover {
    font-weight: bold;
}

.btn-upgrade-subscription {
    height: 50px;
    width: 180px;
    border-radius: 25px;
}

.bs-tooltip-start .tooltip-arrow {
    right: -7px;
}

.bs-tooltip-top .tooltip-arrow {
    bottom: -7px;
}

.bs-tooltip-bottom .tooltip-arrow {
    top: -7px;
}

.bs-tooltip-end .tooltip-arrow {
    left: -7px;
}

.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: white;
}

.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: white;
}

.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: white;
}

.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: white;
}

.tooltip.show {
    opacity: 1;
    box-shadow: 0 12px 20px 0 #0000001F;
    padding: 0;
    border-radius: 10px;
}

.lp-opened-sidebar .lp-sidebar .lp-sidebar-navi ul li a .lp-text, .lp-closed .lp-sidebar .lp-sidebar-navi ul li a .lp-text .lp-closed .lp-sidebar .lp-sidebar-navi ul li a .lp-text {
    opacity: 1;
}

.lp-opened-sidebar .lp-sidebar .lp-sidebar-navi ul li a > span.lp-icon, .lp-closed .lp-sidebar .lp-sidebar-navi ul li a > span.lp-icon {
    opacity: 1;
}

.underline-hover:hover {
    text-decoration: underline;
}

.icon-connect-modal {
    position: absolute;
    right: 25px;
    top: 18px;
}

#venn-wrapper {
    min-height: 300px;
    width: 500px;
}

.btn-delete-community {
    background-color: white;
    border-color: #DD465B;
}

.btn-delete-community:hover {
    background-color: black;
}

@media only screen and (min-width: 1400px) {
    .padding-left-chart {
        padding-left: 8% !important;
    }
}

@media (max-width: 1210px) and (min-width: 1399px) {
    .padding-left-chart {
        padding-left: 2% !important;
    }
}

@media only screen and (min-width: 1400px) {
    .tb-age-title {
        width: 20% !important;
    }

    .tb-age-progress {
        width: 67% !important;
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    .tb-age-title {
        width: 27% !important;
    }

    .tb-age-progress {
        width: 60% !important;
    }
}

@media (max-width: 1199px) and (min-width: 700px) {
    .tb-age-title {
        width: 14% !important;
    }

    .tb-age-progress {
        width: 73% !important;
    }

    .padding-left-age-social-user {
        padding-left: 10% !important;
    }
}

@media (max-width: 699px) and (min-width: 1px) {
    .tb-age-title {
        width: 17% !important;
    }

    .tb-age-progress {
        width: 70% !important;
    }
}

.card-merchant-connect {
    width: 100%;
}

@media (max-width: 991px) and (min-width: 1px) {
    .community-page-connect {
        border: none;
    }

    .center-item-add-connect {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 991px) and (min-width: 700px) {
    .card-merchant-connect {
        width: 50%;
    }
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ecom-summary-card {
    padding-top: 15px !important;
    padding-bottom: 0 !important;
}

.small-card-value {
    margin-bottom: 0 !important;
    font-size: 42px !important;
    font-weight: 700 !important;
    display: inline-block !important;
    min-height: 60px !important;
    line-height: 56px;
}

@supports (background: none) {
    @keyframes dash {
        to {
            stroke-dashoffset: 360;
        }
    }

    .rainbow {
        animation: dash 10s linear infinite;
    }
}

.insight-data-type-form {
    width: 230px;
}

.note-icon-header {
    height: 32px;
}

.component-card-header {
    padding: 0 !important;
}

.component-card-body {
    padding-top: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.component-card-body-title {
    font-size: 30px;
    display: inline-block;
    line-height: 38px;
    margin-bottom: 2%;
}

@media screen and (min-width: 1600px) {
    .ecom-summary-card-col {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (max-width: 1599px) and (min-width: 576px) {
    .ecom-summary-card-col {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (max-width: 576px) {
    .ecom-summary-card-col {
        flex: 0 0 auto;
        width: 100%;
    }
}

.margin-top-social-chart {
    margin-top: 3rem !important;
}

@media screen and (min-width: 1200px) {
    .border-right-blue-bell-xl {
        border-color: #9BABC7;
        border-right: 1px solid #e0eafb;
        border-radius: 2px;
    }

    .border-left-blue-bell-xl {
        border-color: #9BABC7;
        border-left: 1px solid #e0eafb;
        border-radius: 2px;
    }
}

@media screen and (min-width: 768px) {
    .border-right-blue-bell-md {
        border-color: #9BABC7;
        border-right: 1px solid #e0eafb;
        border-radius: 2px;
    }

    .border-left-blue-bell-md {
        border-color: #9BABC7;
        border-left: 1px solid #e0eafb;
        border-radius: 2px;
    }
}

.social-table-ellipsis-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}

@media screen and (min-width: 1700px) {
    .social-table-padding {
        padding-right: 1.5rem !important;
    }
}

.social-comparision-progress {
    height: 1.25rem !important;
    margin-top: 5px !important;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.social-comparision-progress-bar {
    border-radius: 12px 30px 30px 12px !important;
}

@media screen and (min-width: 1450px) {
    .social-comparision-table-col {
        flex: 0 0 auto;
        width: 60%;
    }

    .social-comparision-icon-col {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (min-width: 1325px)  and (max-width: 1449px) {
    .social-comparision-table-col {
        flex: 0 0 auto;
        width: 56%;
    }

    .social-comparision-icon-col {
        flex: 0 0 auto;
        width: 22%;
    }
}

@media (min-width: 800px) and (max-width: 1324px) {
    .social-comparision-table-col {
        flex: 0 0 auto;
        width: 50%;
    }

    .social-comparision-icon-col {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (max-width: 799px) {
    .social-comparision-table-col {
        flex: 0 0 auto;
        width: 100%;
    }

    .social-comparision-icon-col {
        flex: 0 0 auto;
        width: 100%;
    }
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.name-page-title {
    font-size: 30px;
    line-height: 40px;
}

.merchant-name-title {
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 56px;
}

.social-connecting-body-card {
    padding-bottom: 0 !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}

.social-connecting-card-footer {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    border: 0 !important;
    padding-top: 0 !important;
}

.social-connecting-card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.social-connecting-card-image {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}
.social-connecting-container-image{
    display: flex;
    justify-content: flex-end;
}
@media screen and (min-width: 1450px) {
    .social-connecting-title-col {
        flex: 0 0 auto;
        width: 60%;
    }

    .social-connecting-image-col {
        flex: 0 0 auto;
        width: 40%;
    }
}

@media (min-width: 1325px)  and (max-width: 1449px) {
    .social-connecting-title-col {
        flex: 0 0 auto;
        width: 55%;
    }

    .social-connecting-image-col {
        flex: 0 0 auto;
        width: 45%;
    }
}

@media (max-width: 1324px) {
    .social-connecting-title-col {
        flex: 0 0 auto;
        width: 50%;
    }

    .social-connecting-image-col {
        flex: 0 0 auto;
        width: 50%;
    }
}

.merchant-subscription-left-detail{
    font-size: 25px;
    font-weight: bold !important;
    display: block !important;
    line-height: 35px;
}

.margin-bottom-2-rem{
    margin-bottom: 2rem;
}

.mb-custom-2{
    margin-bottom: 0.7rem !important;
}

